{{ partial "header" . }}
{{"<!-- begin layouts > _default > single.html  //-->" | safeHTML}}
<body>
<!-- Include our /layouts/partials/sitelogo.html partial -->
{{ partial "sitelogo" . }}
<!-- Include our /layouts/partials/navbar.html partial -->
{{ partial "navbar" . }}
<article>
<h1 class="pagetitle">{{ .Title }}</h1>
<!-- we only want to show the date if it's a post [ie. not on static pages] -->
{{if eq .Type "post"}}
 <p class="date">{{ .Date.Format "Mon 02 Jan 2006" }}</p>
{{else}}
<!-- not a post so do nowt -->
{{end}}
<div class="content">
{{ .Content }}
</div>
<!-- we only want to show the tags section at the bottom if it's a post [ie. not on static pages] -->
{{if eq .Type "post"}}
<!-- tags for each post are defined in the front-matter: tags = ["tag1","tag2","tag3"]-->
<div class="tags">
<b>TAGS:</b>
<!-- loop through the array of tags -->
{{range .Params.tags}}
<!-- within the loop the dot '.' = the current item [in this case current tag] -->
<a href="/tags/{{.}}">{{.}}</a>,&nbsp;
{{end}}
<!-- end range loop -->
{{else}}
<!-- not a post page, so do nowt -->
{{end}}
<!-- end the if...else -->
</div>
</article>
{{ partial "footer" . }}
{{"<!-- end layouts > _default > single.html  //-->" | safeHTML}}
</body>
</html>
